<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="./log/${process.name}.log" />
		<param name="MaxFileSize" value="1000KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} 
      %5p %m%n" />
		</layout>
	</appender>
	<!-- <appender name="stdout" class="org.apache.log4j.ConsoleAppender"> <layout 
		class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} 
		%5p %c{1}:%L - %m%n" /> </layout> <filter class="org.apache.log4j.varia.LevelRangeFilter"> 
		<param name="levelMin" value="INFO" /> </filter> </appender> -->
	<root>
		<priority value="debug" />
		<!-- <appender-ref ref="stdout" /> -->
		<appender-ref ref="RollingFileAppender" />
	</root>
</log4j:configuration>